<h1>All Books</h1>
<% if (current_user && current_user.admin? ) %>
<%= link_to "Create Book", new_book_path, class: "btn btn-lg btn-primary" %>
<%end%>
<ul>
	 <% @books.each do |book| %>
	 <ul>
	 	<li> <%= book.title %> </li>
	 	<li> <%= book.author %> </li>
	 	<li> <%= book.summary%> </li>
	 	<% if (current_user && current_user.admin? ) %>
	 	<%= link_to "delete", book , method: :delete,
                                  data: { confirm: "You sure?" } %>
        <%end%>
        <% if !(current_user.books.include?book) %>
         <%= link_to "Add Book To My Books", {:controller => "user_books", :action => "create", :user_id => current_user.id, :book_id=> book.id }, {:method=>:post}  %>
         <%else%>
        <% @current_user_book =UserBook.find_by_user_id_and_book_id(current_user.id,book.id) %>
         <%= link_to "Remove Book From My Books", @current_user_book, method: :delete,
                                  data: { confirm: "You sure?" } %>
         <%end%>
     </ul>
     <%end%>
 </ul>
 