<!DOCTYPE html>
<html>
<head>
  <title>TheGoodReads</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
  
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/" role="button">
    HOME
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/my_books" role="button">
      MY BOOKS
      </a>
       
     <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><span><%= current_user.email %></span></li>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
        <% end %>
      </ul>
     </div>
  </form>
</nav>

<%= yield %>

</body>
</html>
